.text-line {
  background-color: transparent;
  color: #eeeeee;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid white 1px;
  padding: 3px 10px;
}

.text-line,
button {
  font-family: "Special Elite", cursive !important;
  color: white !important;
}

::placeholder {
  font-size: 0.9rem;
}

.navbar-brand {
  font-family: "Satisfy", cursive;
  color: white !important;
}

.nav-link,
.text-line {
  font-family: "Special Elite", cursive;
  color: white !important;
}

.navbar-toggler,
span {
  background-color: white;
  width: 8%;
}

.projects {
  font-family: "Satisfy", cursive;
  color: white;
  font-size: 1.8rem;
  margin-top: 4%;
  margin-bottom: 4%;
}

.card-text,
.card-title {
  font-family: "Raleway", sans-serif;
}

.gallery {
  display: grid !important;
}
