{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-medal"></i> Project Plaques</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'profiles'%}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'logout'%}">Logout</a>
            </li>
        </ul>
        <form action="" method="POST" class="form-inline my-2 my-lg-0">
            {% csrf_token %}
            <input name="profiles" class="form-control mr-sm-2 text-line" id="searchInput" type="search"
                placeholder="Search eg: mukami" aria-label="Search">
            <button class="btn btn-sm btn-outline-dark rounded-pill my-2 my-sm-0 searchtext"
                type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</nav>

<script>
    document.getElementById('searchInput').value = '';
</script>